@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Viga&display=swap');

:root {
  --palette-color-1: #ffca1b;
  --palette-color-2: #5085ff;
  --palette-color-3: #4d5d6d;
  --palette-color-4: #9747ff;
  --palette-color-5: #102136;
  --palette-color-light: white;
  --palette-color-dark: black;
  --font-color-light: whitesmoke;
  --font-color-dark: black;
  --button-font-family: 'Viga', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* This defines the rem root size */
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color-light);
}

body {
  background-color: #d6d6d6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Viga', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* main {
  width: 86vw;
  margin-top: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vw;
} */

#page {
  margin: 20px auto;
  background-color: var(--palette-color-5);
  background-image: url('http://localhost:3000/images/photos/johannes-plenio-voQ97kezCx0-unsplash-flipped-faded-v1.jpg');
  background-position: bottom;
  background-size: 94vw;
  background-repeat: no-repeat;
  width: 94vw;
  height: 1400px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#container {
  margin: 50px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

#header {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#settings-and-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

#main {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10vw;
}

#profile-and-navigation {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#profile-image-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

#name-under-profile-image {
  font-size: 1.5rem;
}

#profile-image {
  width: 200px;
  border-radius: 50%;
  border: 4px solid var(--palette-color-light);
}

#main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#content-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

#skill-input {
  line-height: 36px;
  background-color: transparent;
  border: 1px solid var(--palette-color-1);
  border-radius: 5px;
  width: 200px;
}

#footer {
  background-color: green;
  width: 100%;
}

.knowledge-map-logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.knowledge-map-logo-image {
  width: 45px;

  /* gif color a bit off, fill with correct color */
  filter: brightness(0) saturate(100%) invert(82%) sepia(48%) saturate(2617%) hue-rotate(343deg) brightness(112%) contrast(102%);
}

.knowledge-map-logo-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.knowledge-map-logo-title-map {
  font-size: 1.5rem;
  font-family: 'Roboto Serif';
  color: var(--palette-color-1)
}

.settings-icon-and-name {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.settings-icon {
  width: 26px;
  filter: invert(82%) sepia(48%) saturate(2617%) hue-rotate(343deg) brightness(112%) contrast(102%);
}

.logged-in-name {
  font-size: 1rem;
  font-weight: 400;
}

.button-logout {
  background-color: transparent;
}

.button-primary {
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid var(--palette-color-1);
  font-family: var(--button-font-family);
  font-size: 1rem;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--palette-color-1);
}

.button-secondary {
  background-color: var(--palette-color-2);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-family: var(--button-font-family);
  font-size: 1rem;
  cursor: pointer;
}

.form-tech-skill-input {
  margin-top: 0.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 4px;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.skill-indicator {
  border: 2px solid var(--palette-color-3);
  height: 36px;
  width: 100px;
  border-radius: 5px;
  background-color: transparent;
  background-image: url('http://localhost:3000/images/vectors/bulb-outline-grey.svg');
  background-size: 23px;
  background-repeat: repeat-x;
  background-position: center;
  background-position-x: 5px;
}

.App {}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}